.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 0.95rem;
  line-height: 1.75rem;
  color: #9ca3af; /* gray-400 */
  max-width: 65ch;
}